<!--Se llama al modelo necesario para poder mostrar los datos requeridos (empleado)-->
@model SoportePatitosBD.Modelo.Empleado
@{
    ViewBag.Title = "CalculoPlanilla";

    // double renta = (double)ViewBag.rebajoR;
}


<!--<div class="single-services">
    <div class="container">
        <div class="">
            <div class="">
                <div class="">
                    <div class="section-heading">
                    </div>
                </div>



                <fieldset>
                    <div class="">
                        <label class="">  El rebajo de renta es: ViewBag.rebajoR </label>
                    </div>
                </fieldset>


                <fieldset>
                    <div class="">
                        <label class="">  El rebajo de seguro es: ViewBag.rebajoS</label>
                    </div>
                </fieldset>


                <fieldset>
                    <div class="">
                        <label class="">  El rebajo de ausencias es: ViewBag.rebajoA </label>

                    </div>
                </fieldset>

                <fieldset>
                    <div class="">
                        <label class=""> El salario final es: ViewBag.salarioFinal </label>

                    </div>
                </fieldset>

            </div>
        </div>
    </div>
</div>-->


<!--Se indica el action que es EnviarPLanilla, el controller que es Recursos Humanos, el método que es post y la clase para el formato-->
@using (Html.BeginForm("EnviarPlanilla", "RecursosHumanos", FormMethod.Post, new { @class = "contact" }))
{
    <div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--Se muestra el título de la sección-->
                <div class="titlepage">
                    <h2> Cálculo de la planilla </h2>
                </div>
            </div>
        </div>
            <div class="col-md-12">


                <div class="col-lg-12">
                    <fieldset>
                        <input name="ID_planilla" type="hidden" class="form-control" id="ID_planilla" placeholder="">
                    </fieldset>
                </div>



                <!--Campo para la cédula-->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <fieldset>
                            <div class="field item form-group">
                                <!--Se muestra el label-->
                                @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "col-form-label col-md-6 col-sm-6  label-align" })
                                <!--Se muestra el espacio con la cédula (solo lectura porque viene por defecto del empleado seleccionado)-->
                                <div class="col-md-12 col-sm-12">
                                    @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control p-1", @readonly = "readonly" } })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <!--Campo para el salario base-->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <fieldset>
                            <div class="field item form-group">
                                <!--Se muestra el label-->
                                @Html.LabelFor(model => model.Puesto.Salario, htmlAttributes: new { id = "Salario_bruto", @class = "col-form-label col-md-6 col-sm-6  label-align" })
                                <!--Se muestra el espacio con el salario bruto (solo lectura porque viene por defecto del empleado seleccionado)-->
                                <div class="col-md-12 col-sm-12">
                                    <input class="form-control p-1" type="number" id="Salario_bruto" name="Salario_bruto" value=@ViewBag.salarioBase readonly />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>



                <!--Campo para la deducción de renta-->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <fieldset>
                            <div class="field item form-group">
                                <!--Se muestra el label-->
                                <label class="col-form-label col-md-10 col-sm-10  label-align">Deducción de Renta </label>
                                <!--Se muestra el espacio con la Renta (solo lectura porque viene por defecto del empleado seleccionado)-->
                                <div class="col-md-12 col-sm-12">
                                    <input class="form-control p-1" type="number" id="Deducciones_fiscales" name="Deducciones_fiscales" value=@ViewBag.rebajoR readonly />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>





                <!--Campo para la deducción de la CCSS-->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <fieldset>
                            <div class="field item form-group">
                                <!--Se muestra el label-->
                                <label class="col-form-label col-md-7 col-sm-7  label-align">Deducción de Seguro (CCSS) </label>
                                <!--Se muestra el espacio con la deducción de la CCSS (solo lectura porque viene por defecto del empleado seleccionado)-->
                                <div class="col-md-12 col-sm-12">
                                    <input class="form-control p-1" type="number" id="Deducciones_CCSS" name="Deducciones_CCSS" value=@ViewBag.rebajoS readonly />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <!--Campo para la deducción de ausencias-->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <fieldset>
                            <div class="field item form-group">
                                <!--Se muestra el label-->
                                <label class="col-form-label col-md-7 col-sm-7  label-align">Deducción por ausencias </label>
                                <!--Se muestra el espacio con la deducción por ausencia (solo lectura porque viene por defecto del empleado seleccionado)-->
                                <div class="col-md-12 col-sm-12">
                                    <input class="form-control p-1" type="number" id="Deducciones_ausencias" name="Deducciones_ausencias" value=@ViewBag.rebajoA readonly />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <!--Campo para la deducción del Salario Final-->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <fieldset>
                            <div class="field item form-group">
                                <!--Se muestra el label-->
                                <label class="col-form-label col-md-6 col-sm-6  label-align"> Salario Final </label>
                                <!--Se muestra el espacio con el salario netro (solo lectura porque viene por defecto de la ejecución del método)-->
                                <div class="col-md-12 col-sm-12">
                                    <input class="form-control p-1" type="number" id="Salario_neto" name="Salario_neto" value=@ViewBag.salarioFinal readonly />
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>

                <!--Se muestra el botón para Guardar la planilla-->
                <div class="text-center">
                    <fieldset>
                        <br />
                        <button type="submit" class="btn btn-warning" id="btn-Login">Guardar planilla</button>
                    </fieldset>
                </div>

                <div class="ln_solid">
                </div>

            </div>
         </div>    
  </div>
            
}