
@{
    ViewBag.Title = "DeducRenta";
}

<!--Se define el metodo para enviar datos y el action relacionado-->
<form id="Renta" action="Renta" method="post" class="system-forms">
    <h4 class="section">Por favor llene todos los campos para registrar el empleado</h4>




    <!--Campo para la cedula del empleado-->
    <fieldset>
        <div class="form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">Salario Base<span class="required">*</span></label>
            <div class="col-md-6 col-sm-6">
                <input class="form-control p-4" type="number" id="salarioBase" name="salarioBase" required="" />
            </div>
        </div>
    </fieldset>


    <div class="ln_solid">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <!--Botones para calcular la renta-->
                <button type='submit' class="btn btn-primary">Calcular Renta </button>
            </div>
        </div>
    </div>
    <br />
    <br />


</form>





<!--Se define el metodo para enviar datos y el action relacionado-->
<form id="Seguro" action="Seguro" method="post" class="system-forms">
    <h4 class="section">Por favor llene todos los campos para registrar el empleado</h4>




    <!--Campo para la cedula del empleado-->
    <fieldset>
        <div class="form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">Salario Base<span class="required">*</span></label>
            <div class="col-md-6 col-sm-6">
                <input class="form-control p-4" type="number" id="salarioBase" name="salarioBase" required="" />
            </div>
        </div>
    </fieldset>


    <div class="ln_solid">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <!--Botones para crear un empleado y limpiar el formulario-->
                <button type='submit' class="btn btn-primary">Calcular Renta </button>
            </div>
        </div>
    </div>
    <br />
    <br />


</form>





<!--Se define el metodo para enviar datos y el action relacionado-->
<form id="Renta" action="Renta" method="post" class="system-forms">
    <h4 class="section">Por favor llene todos los campos para registrar el empleado</h4>




    <!--Campo para la cedula del empleado-->
    <fieldset>
        <div class="form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">Salario Base<span class="required">*</span></label>
            <div class="col-md-6 col-sm-6">
                <input class="form-control p-4" type="number" id="salarioBase" name="salarioBase" required="" />
            </div>
        </div>
    </fieldset>


    <div class="ln_solid">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <!--Botones para crear un empleado y limpiar el formulario-->
                <button type='submit' class="btn btn-primary">Calcular Renta </button>
            </div>
        </div>
    </div>
    <br />
    <br />


</form>
