
@{
    ViewBag.Title = "Evaluacion";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>Evaluación del personal</h2>
            </div>

        </div>
        <br />


        <div class="row">
            <div class="col-md-12 col-sm-12">


                <div class="x_content">
                    <form class="" action="EnviarEvaluacion" method="post" novalidate>
                        <h4 class="section">Responda las siguientes preguntas para evaluar al personal</h4>

                        <br />


                        <!--Campo para la identificación de la evaluación-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">ID<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control p-4" type="number" id="ID_evaluacion" name="ID_evaluacion" required='required' />
                                </div>
                            </div>
                        </fieldset>

                        <br />


                        <!--Campo para la cédula del empleado-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Cédula<span>*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control p-4" type="number" id="Cedula" name="Cedula" required='required' />
                                </div>
                            </div>
                        </fieldset>

                        <br />


                        <!--Campo para la pregunta 1-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">1.	Cumple con las tareas asignadas<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <select id="Pregunta_1">
                                        <option value="1"> 1 </option>
                                        <option value="2"> 2 </option>
                                    </select>
                                    <!--<input class="form-control p-4" type="number" id="Pregunta_1" name="Pregunta_1" min="1" max="10" maxlength="2" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required='required' />-->
                                </div>
                            </div>
                        </fieldset>

                        <br />


                        <!--Campo para la pregunta 2-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">2.	No posee ausencias<span>*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    1 <input name="Pregunta_2" type="radio" value="1" class="custom-radio" id="Pregunta_2">
                                    2 <input name="Pregunta_2" type="radio" value="2" class="custom-radio" id="Pregunta_2">
                                    3 <input name="Pregunta_2" type="radio" value="3" class="custom-radio" id="Pregunta_2">
                                    4 <input name="Pregunta_2" type="radio" value="4" class="custom-radio" id="Pregunta_2">
                                    5 <input name="Pregunta_2" type="radio" value="5" class="custom-radio" id="Pregunta_2">
                                    6 <input name="Pregunta_2" type="radio" value="6" class="custom-radio" id="Pregunta_2">
                                    7 <input name="Pregunta_2" type="radio" value="7" class="custom-radio" id="Pregunta_2">
                                    8 <input name="Pregunta_2" type="radio" value="8" class="custom-radio" id="Pregunta_2">
                                    9 <input name="Pregunta_2" type="radio" value="9" class="custom-radio" id="Pregunta_2">
                                    10 <input name="Pregunta_2" type="radio" value="10" class="custom-radio" id="Pregunta_2">
                                    <!--<input class="form-control p-4" type="number" id="Pregunta_2" name="Pregunta_2" min="1" max="10" maxlength="2" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required='required' />-->
                                </div>
                            </div>
                        </fieldset>

                        <br />


                        <!--Campo para la pregunta 3-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">3.	Posee 1 o más llegadas tardía<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    1 <input name="Pregunta_3" type="radio" value="1" class="custom-radio" id="Pregunta_3">
                                    2 <input name="Pregunta_3" type="radio" value="2" class="custom-radio" id="Pregunta_3">
                                    3 <input name="Pregunta_3" type="radio" value="3" class="custom-radio" id="Pregunta_3">
                                    4 <input name="Pregunta_3" type="radio" value="4" class="custom-radio" id="Pregunta_3">
                                    5 <input name="Pregunta_3" type="radio" value="5" class="custom-radio" id="Pregunta_3">
                                    6 <input name="Pregunta_3" type="radio" value="6" class="custom-radio" id="Pregunta_3">
                                    7 <input name="Pregunta_3" type="radio" value="7" class="custom-radio" id="Pregunta_3">
                                    8 <input name="Pregunta_3" type="radio" value="8" class="custom-radio" id="Pregunta_3">
                                    9 <input name="Pregunta_3" type="radio" value="9" class="custom-radio" id="Pregunta_3">
                                    10 <input name="Pregunta_3" type="radio" value="10" class="custom-radio" id="Pregunta_3">
                                    <!--<input class="form-control p-4" type="number" id="Pregunta_3" name="Pregunta_3" min="1" max="10" maxlength="2" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required='required' />-->
                                </div>
                            </div>
                        </fieldset>

                        <br />


                        <!--Campo para la pregunta 4-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">4.	Posee buena relación con los compañeros<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <!-- <input class="form-control p-4" type="number" id="Pregunta_4" name="Pregunta_4" required='required'>-->
                                    1 <input name="Pregunta_4" type="radio" value="1" class="custom-radio" id="Pregunta_4">
                                    2 <input name="Pregunta_4" type="radio" value="2" class="custom-radio" id="Pregunta_4">
                                    3 <input name="Pregunta_4" type="radio" value="3" class="custom-radio" id="Pregunta_4">
                                    4 <input name="Pregunta_4" type="radio" value="4" class="custom-radio" id="Pregunta_4">
                                    5 <input name="Pregunta_4" type="radio" value="5" class="custom-radio" id="Pregunta_4">
                                    6 <input name="Pregunta_4" type="radio" value="6" class="custom-radio" id="Pregunta_4">
                                    7 <input name="Pregunta_4" type="radio" value="7" class="custom-radio" id="Pregunta_4">
                                    8 <input name="Pregunta_4" type="radio" value="8" class="custom-radio" id="Pregunta_4">
                                    9 <input name="Pregunta_4" type="radio" value="9" class="custom-radio" id="Pregunta_4">
                                    10 <input name="Pregunta_4" type="radio" value="10" class="custom-radio" id="Pregunta_4">
                                </div>
                            </div>

                        </fieldset>

                        <br />


                        <!--Campo para la pregunta 5-->
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">5.	Fomenta el trabajo en equipo<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <span>
                                        1 <input name="Pregunta_5" type="radio" value="1" class="custom-radio" id="Pregunta_5">
                                        2 <input name="Pregunta_5" type="radio" value="2" class="custom-radio" id="Pregunta_5">
                                        3 <input name="Pregunta_5" type="radio" value="3" class="custom-radio" id="Pregunta_5">
                                        4 <input name="Pregunta_5" type="radio" value="4" class="custom-radio" id="Pregunta_5">
                                        5 <input name="Pregunta_5" type="radio" value="5" class="custom-radio" id="Pregunta_5">
                                        6 <input name="Pregunta_5" type="radio" value="6" class="custom-radio" id="Pregunta_5">
                                        7 <input name="Pregunta_5" type="radio" value="7" class="custom-radio" id="Pregunta_5">
                                        8 <input name="Pregunta_5" type="radio" value="8" class="custom-radio" id="Pregunta_5">
                                        9 <input name="Pregunta_5" type="radio" value="9" class="custom-radio" id="Pregunta_5">
                                        10 <input name="Pregunta_5" type="radio" value="10" class="custom-radio" id="Pregunta_5">
                                    </span>
                                        <!--<input class="form-control p-4" type="number" id="Pregunta_5" name="Pregunta_5" required='required'>-->
                                </div>
                            </div>
                        </fieldset>

                        <br />

                        <div class="ln_solid">
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <button type='submit' class="btn btn-primary">Enviar Evaluacion</button>
                                    <button type='reset' class="btn btn-info">Limpiar campos</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<label style="float:left"><input type="radio" value="1">Primero</label>
                                    <label style="float:left"><input type="radio" value="2">Segundo</label>
                                    <label style="float:left"><input type="radio" value="3">Tercero</label>-->
