@{
    ViewBag.Title = "MarcaAsistencia";

    List<SelectListItem> estados = (List<SelectListItem>)ViewData["Estado"];
}

<!--Sección para el título (con sus clases respectivas para el formato)-->
<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <!--Se establece el título que aparecerá en la sección-->
                    <h2> Marcar Asistencia </h2>
                    <p> Recuerde que debe marcar a la hora de entrada y a la hora de salida</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!--Se define el método para enviar datos y el action relacionado-->
            <form action="EnviarAsistencia" method="post" class="system-forms">

                <!--Campo para el ID, pero es autoincremental, además de ser un campo oculto (el usuario no debe llenarlo)-->
                <div class="col-lg-12">
                    <fieldset>
                        <input name="Id" type="hidden" class="form-control" id="id" placeholder="">
                    </fieldset>
                </div>

                <!--Va a mostrar un error de acuerdo a la validación de la fecha y la cédula que se encuentra en el Controller y en GestorAsistencia-->
                @if (TempData != null && TempData["MensajeError"] != null)
                {
                    <script>
                                var mensajeError = '@TempData["MensajeError"]';
                                if (mensajeError.trim() !== "") {
                                    alert(mensajeError);
                                }
                    </script>
                }


                <!--Campo para la cedula del empleado-->
                <!--El campo lo trae el sistema del usuario que está en sesión en el momento-->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <fieldset>
                            <div class="field item form-group">

                                <label class="col-form-label col-md-6 col-sm-6  label-align">Cédula<span class="required">*</span></label>
                                <div class="col-md-12 col-sm-12">
                                    <input class="form-control p-2" type="number" id="Cedula" name="Cedula" value="@ViewData["Cedula"].ToString()" style="display:none" required />
                                    <input type="text" id="CedulaLabel" class="form-control p-2" disabled value="@ViewData["Cedula"].ToString()" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>








                <!--Campo para la fecha de ingreso-->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <fieldset>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-6 col-sm-6  label-align">Fecha y Hora <span class="required">*</span></label>
                                <div class="col-md-12 col-sm-12">
                                    @Html.TextBox("Fecha", DateTime.Now, new { @class = "form-control p-2", @readonly = true, required = "required" })

                                    <!--<input class="form-control" id="Fecha" name="Fecha" required='required' value=@DateTime.Now readonly />-->
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>




                <!--Campo para estado-->
                <fieldset>
                    <div class="field item form-group">
                        <!--<label class="col-form-label col-md-3 col-sm-3  label-align">Estado<span class="required">*</span></label>-->
                        <div class="col-md-6 col-sm-6">
                            <!--Html.DropDownList("ID_Estado", estados, new { class = "form-control", required = "required" })-->
                            <input class="form-control p-4" type="number" id="ID_estado" name="ID_Estado" value="8" hidden required="" />
                        </div>
                    </div>
                </fieldset>

                <br />



                <!--Botón para registrar asistencia-->
                <div class="text-center">
                    <fieldset>
                        <br />
                        <button type="submit" class="btn btn-warning" id="btn-Login">Registrar Asistencia</button>
                    </fieldset>
                </div>
            <!--Termina el formulario-->
            </form>
        </div>
    </div>
</div>



