@{
    ViewBag.Title = "Home Page";
}



<!-- Best  -->
<div id="jewellery" class="Best">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Soporte Patitos</h2>
                    <p>

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="best_main">
                    <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="best_text">
                                <p>Somos una empresa que se encarga de brindar servicios de mantenimiento a edificios a nivel nacional, actualmente, nos encontramos ubicados en San José, catedral.</p>
                                <a href="#">Más información</a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="best_img">
                                <h4>Todo tipo de edificios</h4>
                                <figure>
                                    <img src="~/Content/Assets/images/architecture-g0634665da_1280.jpg" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="best_main">
                    <div class="row d_flex">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="best_img croos_rt">
                                <h4>Mantenimiento especializado</h4>
                                <figure>
                                    <img src="~/Content/Assets/images/workers-g2165b517e_1280.jpg" />
                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="best_text flot_left">
                                <p>Ofrecemos servicios de mantenimiento a todo tipo de eficios a nivel nacional a precios muy accesibles. </p>
                                <a href="#">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="best_main pa_bot">
                    <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="best_text">
                                <p>Trabajamos con todos los estándares de seguridad: Nuestra prioridad son nuestros clientes y nuestros empleados</p>
                                <a href="#">Más información</a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="best_img d_none">
                                <h4>Altos estándares de seguridad</h4>
                                <figure>
                                    <img src="~/Content/Assets/images/building-gd1132d348_1280.jpg" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Best -->
<!-- contact -->
<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Formulario de Contacto</h2>
                    <p> Contáctenos sin ningún compromiso </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="contact">
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Nombre" type="text" name="Name">
                            </div>
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Teléfono" type="text" name="Phone Number">
                            </div>
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Correo" type="text" name="Email">
                            </div>
                            <div class="col-sm-12">
                                <textarea class="textarea" placeholder="Mensaje" type="text" name="Message"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <button class="send">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                <div class="rable-box">
                    <figure>
                        <img src="~/Content/Assets/images/buildings-g995ed5f15_1280.jpg" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->
<!-- clients -->
<div id="clients" class="clients ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Nuestros clientes</h2>
                    <p> Conozca las opiniones de nuestros clientes sobre nuestros servicios </p>
                </div>
            </div>
        </div>
        <div class="row d_flex">
            <div class="col-md-10 offset-col-md-1">
                <div id="myCarousel" class="carousel slide clients_slider" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row d_flex">
                                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 pa_rile">
                                            <div class="img_box">
                                                <figure>
                                                    <img src="~/Content/Assets/images/stairs-g13cda99cc_1280.jpg" />
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 pa_rile">
                                            <div class="joe">
                                                <h3>Juanita Pérez</h3>
                                                <p>"El servicio brindado fue de alta calidad, con buenos precios y en un tiempo de respuesta muy corto. Excelente empresa, no la cambiaríamos por nada."</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end clients -->
