@{
    ViewBag.Title = "Home Page";
}



<!-- Parte de inicio con características de Soporte Patitos  -->
<div id="jewellery" class="Best">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--Se define el título de la sección-->
                <div class="titlepage">
                    <h2>Soporte Patitos</h2>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--Primer espacio con imagen-->
                <div class="best_main pa_bot">
                    <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="best_text ">
                                <p>Somos una empresa que se encarga de brindar servicios de mantenimiento a edificios a nivel nacional, actualmente, nos encontramos ubicados en San José, catedral.</p>
                                <a href="#contact">Más información</a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="best_img d_none">
                                <h4>Todo tipo de edificios</h4>
                                <figure>
                                    <img src="~/Content/Assets/images/architecture-g0634665da_1280.jpg" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br /><br /><br /><br />

                <!--Segundo espacio con imagen-->
                <div class="best_main">
                    <div class="row d_flex">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="best_img croos_rt">
                                <h4>Mantenimiento especializado</h4>
                                <figure>
                                    <img src="~/Content/Assets/images/workers-g2165b517e_1280.jpg" />
                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="best_text flot_left">
                                <p>Ofrecemos servicios de mantenimiento a todo tipo de edificios a nivel nacional a precios muy accesibles. </p>
                                <a href="#contact">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Tercer espacio con imagen-->
                <div class="best_main pa_bot">
                    <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="best_text">
                                <p>Trabajamos con todos los estándares de seguridad: Nuestra prioridad son nuestros clientes y nuestros empleados</p>
                                <a href="#contact">Más información</a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="best_img d_none">
                                <h4>Altos estándares de seguridad</h4>
                                <figure>
                                    <img src="~/Content/Assets/images/building-gd1132d348_1280.jpg" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin del inicio -->
<!-- Formulario de contacto -->
<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--Se define el título de la sección-->
                <div class="titlepage">
                    <h2>Formulario de Contacto</h2>
                    <p> Contáctenos sin ningún compromiso </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="contact">
                    <!--Inicio del formulario-->
                    <form>
                        <br /> <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <input class="contactus" placeholder="Nombre" type="text" name="Name">
                            </div>
                            <div class="col-sm-12">
                                <textarea class="textarea" placeholder="Mensaje" type="text" name="Message"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <!--Botón de envío-->
                                <button type='reset' class="send">Enviar</button>
                            </div>
                        </div>
                        <!--Fin-->
                    </form>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                <div class="rable-box">
                    <figure>
                        <img src="~/Content/Assets/images/buildings-g995ed5f15_1280.jpg" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin del formulario de contacto -->

<!-- Opiniones de los clientes -->
<div id="clients" class="clients ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--Se define el título de la sección-->
                <div class="titlepage">
                    <h2>Nuestros clientes</h2>
                    <p> Conozca las opiniones de nuestros clientes sobre nuestros servicios </p>
                </div>
            </div>
        </div>
        <!--Cuerpo de las opiniones de los clientes-->
        <div class="row d_flex">
            <div class="col-md-10 offset-col-md-1">
                <div id="myCarousel" class="carousel slide clients_slider" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row d_flex">
                                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 pa_rile">
                                            <div class="img_box">
                                                <figure>
                                                    <img src="~/Content/Assets/images/stairs-g13cda99cc_1280.jpg" />
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 pa_rile">
                                            <div class="joe">
                                                <h3>Juanita Pérez</h3>
                                                <p>"El servicio brindado fue de alta calidad, con buenos precios y en un tiempo de respuesta muy corto. Excelente empresa, no la cambiaríamos por nada."</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de opiniones de los clientes -->
