
@{
    ViewBag.Title = "Login";
}




    <!-- Form de iniciar sesion -->
    <div id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--Se define el título de la sección-->
                    <div class="titlepage">
                        <h2> Inicio de Sesión </h2>
                        <p> Asegúrese que el usuario y la contraseña sean los correctos </p>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <!--Se inicia el formulario-->
                <!--Se define el id, el action, el controlador, el método y la clase de estilo-->
                <form id="login" action="InicioSesion" controller="Empleados" method="get" class="contact">
                    <br />
                    <!--Para cada uno de los campos se colocan los estilos requeridos de la hojda de estilos style.css-->
                    <!--Para digitar el usuario-->
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <fieldset>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3  label-align">Usuario<span class="required">*</span></label>
                                    <div class="col-md-12 col-sm-12">
                                        <input name="Usuario" type="text" class="form-control" id="usuario" placeholder="Ej: JuanMora" required="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <!--Para digitar la contraseña-->
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <fieldset>
                                <div class="field item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3">Contraseña<span class="required">*</span></label>
                                    <div class="col-md-12 col-sm-12">
                                        <input align="center" name="Contraseña" type="password" class="form-control" placeholder="*******" id="contrasena" required="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <!--Va a mostrar un error -->
                    @if (TempData != null && TempData["LoginError"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["LoginError"]
                        </div>
                    }


                    <!--Botones de ingresar y limpiar campos-->
                    <div class="text-center">
                        <fieldset>
                            <br />
                            <button type="submit" class="btn btn-warning" id="btn-Login">Ingresar</button>
                            <button type='reset' class="btn btn-dark">Limpiar campos</button>
                        </fieldset>
                    </div>
                    <!--Termina el formulario-->
                </form>
            </div>
        </div>
    </div>




